# Exclude logs directory
logs/

# Exclude .sh files
*.sh

# Exclude .txt files
*.txt

# Include requirements.txt
!requirements.txt


# Exclude specific Python file
check_data.py

# Exclude .idea directory (IDE settings)
.idea/

# Exclude compiled Python files
*.pyc

# Exclude __pycache__ directories
__pycache__/

